<div class="container-fluid" style="background-image: url('assets/img/img28.jpg');
           background-size: cover;
           background-attachment: fixed;
           min-height: 100vh;
           padding-top: 70px;">

    <div class="row justify-content-center">
        <div class="col-md-4">

            <div class="card shadow-lg">
                <div class="card-body">

                    <!-- TITLE -->
                    <h3 class="text-center text-primary mb-3">
                        Change Password
                    </h3>

                    <!-- SUCCESS -->
                    <div *ngIf="!form.error && form.message" class="alert alert-success text-center">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{form.message}}
                    </div>

                    <!-- ERROR -->
                    <div *ngIf="form.error && form.message" class="alert alert-danger text-center">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{form.message}}
                    </div>

                    <form>

                        <!-- OLD PASSWORD -->
                        <label><b>Old Password *</b></label>
                        <div class="input-group mb-2">
                            <span class="input-group-text">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input type="password" class="form-control" [(ngModel)]="form.data.oldPassword"
                                name="oldPassword" placeholder="Enter Old Password">
                        </div>
                        <div>
                            <span class="text-danger">
                                {{form.inputerror.oldPassword}}
                            </span>
                        </div>

                        <!-- NEW PASSWORD -->
                        <label class="mt-2"><b>New Password *</b></label>
                        <div class="input-group mb-2">
                            <span class="input-group-text">
                                <i class="fa fa-key"></i>
                            </span>
                            <input type="password" class="form-control" [(ngModel)]="form.data.newPassword"
                                name="newPassword" placeholder="Enter New Password">
                        </div>
                        <div>
                            <span class="text-danger">
                                {{form.inputerror.newPassword}}
                            </span>
                        </div>

                        <!-- CONFIRM PASSWORD -->
                        <label class="mt-2"><b>Confirm Password *</b></label>
                        <div class="input-group mb-2">
                            <span class="input-group-text">
                                <i class="fa fa-check"></i>
                            </span>
                            <input type="password" class="form-control" [(ngModel)]="form.data.confirmPassword"
                                name="confirmPassword" placeholder="Confirm Password">
                        </div>
                        <div>
                            <span class="text-danger">
                                {{form.inputerror.confirmPassword}}
                            </span>
                        </div>

                        <!-- BUTTONS -->
                        <div class="d-flex gap-2 mt-3">

                            <button type="button" class="btn btn-success w-100" (click)="changePassword()">
                                Change Password
                            </button>

                            <button type="button" class="btn btn-secondary w-100" (click)="reset()">
                                Reset
                            </button>

                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>