<style type="text/css">
    .raj {
        background-image: linear-gradient(to bottom right, grey, black);
    }

    .c1 {
        color: rgb(235, 6, 6);
    }
</style>

<div class="header">
    <nav *ngIf="!isLogin()" class="navbar navbar-expand-lg raj">
        <div class="logo">
            <a class="nav-link" [routerLink]="['/dashboard']">
                <img src="assets\img\custom.png" height="40px" width="120px">
            </a>
        </div>

        <select #locale (change)='changeLocale(locale.value)' class="c1">
            <option value="undefined">{{'Select' | translate }}</option>
            <option value="en">{{ 'English' | translate}}</option>
            <option value="hi">{{'Hindi' | translate }}</option>
        </select>

        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <img src="assets/img/avatar.webp" height="30" width="30" class="rounded-circle">
                        <span style="color: white;">{{'Hi,Guest'| translate}}</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/login']">Log in</a>
                        <a class="dropdown-item" [routerLink]="['/signup']">Register</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- LOGIN NAVBAR -->
<nav *ngIf="isLogin()" class="navbar navbar-expand-lg raj">

    <div class="logo">
        <a class="nav-link" [routerLink]="['/dashboard']">
            <img src="assets/img/custom.png" height="40px" width="120px">
        </a>
    </div>

    <select #locale (click)='changeLocale(locale.value)'>
        <option value="0">{{ 'Select' | translate }}</option>
        <option value="en">{{ 'English' | translate }}</option>
        <option value="hi">{{ 'Hindi' | translate }}</option>
    </select>

    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="nav navbar-nav pl-2">

            <!-- ✅ ADMIN MENU -->
            <ng-container *ngIf="isAdmin()">

                <!-- USER -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'User' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/user']">AddUser</a>
                        <a class="dropdown-item" [routerLink]="['/userlist']">UserList</a>
                    </div>
                </li>

                <!-- ROLE -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Role' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/role']">AddRole</a>
                        <a class="dropdown-item" [routerLink]="['/rolelist']">RoleList</a>
                    </div>
                </li>

                <!-- MARKSHEET -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Marksheet' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/marksheet']">AddMarksheet</a>
                        <a class="dropdown-item" [routerLink]="['/marksheetlist']">MarksheetList</a>
                        <a class="dropdown-item" [routerLink]="['/marksheetmeritlist']">MarksheetMeritList</a>
                        <a class="dropdown-item" [routerLink]="['/getmarksheet']">GetMarksheet</a>
                    </div>
                </li>

                <!-- COLLEGE -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'College' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/college']">AddCollege</a>
                        <a class="dropdown-item" [routerLink]="['/collegelist']">CollegeList</a>
                    </div>
                </li>

                <!-- COURSE -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Course' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/course']">AddCourse</a>
                        <a class="dropdown-item" [routerLink]="['/courselist']">CourseList</a>
                    </div>
                </li>

                <!-- STUDENT -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Student' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/student']">AddStudent</a>
                        <a class="dropdown-item" [routerLink]="['/studentlist']">StudentList</a>
                    </div>
                </li>

                <!-- FACULTY -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Faculty' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/faculty']">AddFaculty</a>
                        <a class="dropdown-item" [routerLink]="['/facultylist']">FacultyList</a>
                    </div>
                </li>

                <!-- TIMETABLE -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'TimeTable' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/timetable']">AddTimeTable</a>
                        <a class="dropdown-item" [routerLink]="['/timetablelist']">TimeTableList</a>
                    </div>
                </li>

                <!-- SUBJECT -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Subject' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/subject']">AddSubject</a>
                        <a class="dropdown-item" [routerLink]="['/subjectlist']">SubjectList</a>
                    </div>
                </li>

                <!-- DECORATION -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Decoration' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/decoration']">AddDecoration</a>
                        <a class="dropdown-item" [routerLink]="['/decorationlist']">DecorationList</a>
                    </div>
                </li>

                <!-- APPOINTMENT -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Appointment' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/appointment']">AddAppointment</a>
                        <a class="dropdown-item" [routerLink]="['/appointmentlist']">AppointmentList</a>
                    </div>
                </li>

                <!-- PATIENT -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Patient' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/patient']">AddPatient</a>
                        <a class="dropdown-item" [routerLink]="['/patientlist']">PatientList</a>
                    </div>
                </li>

                <!-- REFUND -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Refund' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/refund']">AddRefund</a>
                        <a class="dropdown-item" [routerLink]="['/refundlist']">RefundList</a>
                    </div>
                </li>

                <!-- CONTRACT -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Contract' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/contract']">AddContract</a>
                        <a class="dropdown-item" [routerLink]="['/contractlist']">ContractList</a>
                    </div>
                </li>

                <!-- TAX -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Tax' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/tax']">AddTax</a>
                        <a class="dropdown-item" [routerLink]="['/taxlist']">TaxList</a>
                    </div>
                </li>

                <!-- SUBSCRIPTION -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Subscription' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/subscription']">AddSubscription</a>
                        <a class="dropdown-item" [routerLink]="['/subscriptionlist']">SubscriptionList</a>
                    </div>
                </li>

                <!-- REPORT -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Report' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/report']">AddReport</a>
                        <a class="dropdown-item" [routerLink]="['/reportlist']">ReportList</a>
                    </div>
                </li>

                <!-- SUPPLIER -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Supplier' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/supplier']">AddSupplier</a>
                        <a class="dropdown-item" [routerLink]="['/supplierlist']">SupplierList</a>
                    </div>
                </li>

                <!-- INVESTOR -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Investor' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/investor']">AddInvestor</a>
                        <a class="dropdown-item" [routerLink]="['/investorlist']">InvestorList</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'GymTrainer' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/gymtrainer']">AddGymTrainer</a>
                        <a class="dropdown-item" [routerLink]="['/gymtrainerlist']">GymTrainerList</a>
                    </div>
                </li>



                <!-- SYSTEM CONFIG -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'SystemConfig' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/systemconfig']">AddSystemConfig</a>
                        <a class="dropdown-item" [routerLink]="['/systemconfiglist']">SystemConfigList</a>
                    </div>
                </li>

                <!-- RELEASE -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Release' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/release']">AddRelease</a>
                        <a class="dropdown-item" [routerLink]="['/releaselist']">ReleaseList</a>
                    </div>
                </li>

                <!-- USAGE -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Usage' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/usage']">AddUsage</a>
                        <a class="dropdown-item" [routerLink]="['/usagelist']">UsageList</a>
                    </div>
                </li>

                <!-- SECRET -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Secret' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/secret']">AddSecret</a>
                        <a class="dropdown-item" [routerLink]="['/secretlist']">SecretList</a>
                    </div>
                </li>

                <!-- API -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Api' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/api']">AddApi</a>
                        <a class="dropdown-item" [routerLink]="['/apilist']">ApiList</a>
                    </div>
                </li>

                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'City' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/city']">AddCity</a>
                        <a class="dropdown-item" [routerLink]="['/citylist']">CityList</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Job' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/job']">AddJob</a>
                        <a class="dropdown-item" [routerLink]="['/joblist']">JobList</a>
                    </div>
                </li>

                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Account' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/account']">AddAccount</a>
                        <a class="dropdown-item" [routerLink]="['/accountlist']">AccountList</a>
                    </div>
                </li>

            </ng-container>
            <!-- ✅ STUDENT MENU -->
            <ng-container *ngIf="isStudent()">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <font style="color: white;">{{'Marksheet' | translate}}</font>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/marksheet']">AddMarksheet</a>
                        <a class="dropdown-item" [routerLink]="['/marksheetlist']">MarksheetList</a>
                    </div>
                </li>

            </ng-container>

            <!-- PROFILE -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <img [src]="'http://localhost:8081/User/profilePic/' + form.data.userId" width="30" height="30"
                        class="rounded-circle">
                    <span style="color: white;">
                        Hi, {{form.data.fname}} ({{form.data.role}})
                    </span>
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" (click)="forward()">My Profile</a>
                    <a class="dropdown-item" [routerLink]="['/changepassword']">Change Password</a>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </li>

        </ul>
    </div>
</nav>